<!DOCTYPE html>
<html>
<head>
	<title>WhishSlate Bookmarklet</title>
</head>
<body>

	<p class="text-center">Drag the button below to your Bookmarks bar to get started.</p>

	<div class="draggable-bookmark-button__draggableButton__1z6-E"><a href="javascript:var%20ifra=document.createElement('iframe');var loc = window.location;ifra.src='https://whishslate-bookmarklet.herokuapp.com?u='+encodeURIComponent(window.location);ifra.setAttribute('height','500');ifra.setAttribute('width','700');void(document.body.parentElement.prepend(ifra));"><i class="fa fa-heart mrs"></i> <span>Add to WhishSlate</span></a><div class="draggable-bookmark-button__dragMe__-GE-O flex-vertical-center"><img alt="Arrow with text 'Drag Me'." nopin="nopin" src="https://res.cloudinary.com/babylist/image/upload/v1537228011/discovery/cta-drag.svg"></div></div>

</body>
</html>