<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body class="container">

		<img src="logo01.png">
        <h1><%= results.data.ogTitle %></h1>
        <p>Welcome to templating using EJS</p>
  




</body>
</html>